<form action="https://perfectmoney.com/api/step1.asp" method="POST">
    <input type="hidden" name="PAYEE_ACCOUNT" value="U25990210">
    <input type="hidden" name="PAYEE_NAME" value="GOLDOR_PAY">
    <input type="hidden" name="PAYMENT_ID" value="GOLDOR_PAY">
    <input type="text" name="PAYMENT_AMOUNT" value=""><BR>
    <input type="hidden" name="PAYMENT_UNITS" value="USD">
    <input type="hidden" name="STATUS_URL" value="goldorpay@gmail.com">
    <input type="hidden" name="PAYMENT_URL" value="https://www.goldorpay.com">
    <input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
    <input type="hidden" name="NOPAYMENT_URL" value="https://www.goldorpay.com">
    <input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
    <input type="hidden" name="SUGGESTED_MEMO" value="">
    <input type="hidden" name="BAGGAGE_FIELDS" value="">
    <input type="submit" name="PAYMENT_METHOD" value="Pay Now!">
    </form>