// login page
//.login-body{
  //  margin: 90px;
 //   padding:90px;
 //   width: 100%;
 //   height:auto;
    // background: #000;
//}
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    padding: 90px 45px 60px 45px;
    @media #{$xs}{
        width: 282px;
        padding: 90px 15px 15px 15px;
    }
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    border-radius: 5px;
    .logo-login{
        img{
            width: 99px;
            height: 95px;
            // border-radius: 50%;
            position: absolute;
            top: -57px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border: 15px solid rgba(255,255,255,0.1);
            box-shadow: 0 15px 20px rgba(0,0,0,0.7);
            border-radius: 50%;
        }
    }
    h2{
        color: #fff;
        font-size: 30px;
        margin: 0;
        text-align: center;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .form-input{
        position: relative;
        margin:20px 0;
        label{
            font-size: 18px;
            font-weight: 600;
            color: #fff;
        }
        input{
            outline: none;
            height: 40px;
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid rgba(0,0,0,.5);
            background: transparent;
            font-size: 18px;
            border: none;
            color: #fff;
            border-bottom: 1px solid #fff;
            &::placeholder{
                color: $theme-color;
            }
        }
        input[type="submit"]{
            background: $theme-color;
            color: #fff;
            border: none;
            cursor: pointer;
            text-transform: capitalize;
            line-height: 1;
            font-size: 18px;
            font-weight: 700;
            border-radius: 20px;
            transition: .4s;
            &:hover{
                background: #000;
                background: $theme-color;
            }
        }
    }
    .forget{
        display: block;
        margin-top: 30px;
        color: $theme-color;
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 5px;
        &:hover{
            color: #fff;
        }
    }
    .registration{
        display: block;
        color: $theme-color;
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 5px;
        &:hover{
            color: #fff;
        }
    }
}

// .form-control:focus {
// 	color: #495057;
// 	background-color: none !important;
// 	border-color: none !important;
// 	outline: 0 !important;
//     box-shadow: 0
// }