
 <div class="container">
    <div style="text-align: center;">
        <h3 style="color: rgb(209, 148, 5); margin-top: 20%;"></h3>
         <h4 style="color: black;"></h4>
    </div>
   <section class="feature_area p_120 forma"  >
      <div class="container">
  
              <div class="col-lg-12 col-md-6 col-xs-12">
                  <div >
                   
                        <div style="text-align: center; margin: 0px 0px 20px 0px;">

                            <form action="https://perfectmoney.com/api/step1.asp" method="POST">
                                <input type="hidden" name="PAYEE_ACCOUNT" value="U25990210">
                                <input type="hidden" name="PAYEE_NAME" value="GOLDOR_PAY">
                                <input type="hidden" name="PAYMENT_ID" value="GOLDOR_PAY">
                                <input type="hidden" name="PAYMENT_AMOUNT" value="50">
                                <input type="hidden" name="PAYMENT_UNITS" value="USD">
                                <input type="hidden" name="STATUS_URL" value="goldorpay@gmail.com">
                                <input type="hidden" name="PAYMENT_URL" value="https://www.goldorpay.com">
                                <input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
                                <input type="hidden" name="NOPAYMENT_URL" value="https://www.goldor.com">
                                <input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
                                <input type="hidden" name="SUGGESTED_MEMO" value="">
                                <input type="hidden" name="BAGGAGE_FIELDS" value="">
                                <input type="submit" name="PAYMENT_METHOD" value="Pay Now!">
                                </form>
                              </div>
      </div>
              </div>
         
      </div>
  </section>
</div>