
 <div class="container">
    <div style="text-align: center;">
        <h3 style="color: rgb(209, 148, 5); margin-top: 20%;"></h3>
         <h4 style="color: black;"></h4>
    </div>
   <section class="feature_area p_120 forma"  >
      <div class="container">
  
              <div class="col-lg-12 col-md-6 col-xs-12">
                  <div >
                   
                        <div style="text-align: center; margin: 0px 0px 20px 0px;">

                          <h3>Patientez 2 heures de temps et réssayer</h3>
                          <h2>THANKS!!</h2>

                              </div>
      </div>
              </div>
         
      </div>
  </section>
</div>