<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a class="simple-text logo-normal">
       
       Dashboard
          
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        <li>

        </li>
         

          <li class="nav-item ">
            <a class="nav-link"  >
              <i class="material-icons">library_books</i>
              <a routerLink="/plan"> Take Plan</a>
            </a>
          </li>
         
          <li class="nav-item ">
            <a class="nav-link" >
              <i class="material-icons">money</i>
              <p routerLink="/retrait">
                withdrawal</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" >
              <i class="material-icons">money</i>
              <p routerLink="/plan">Deposite</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" >
              <i class="material-icons">home</i>
              <p  routerLink="/home" >Home</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" >
              <i class="material-icons">tel</i>
              <p  routerLink="/contact" >Contact</p>
            </a>
          </li>
         
        
          
          <li class="nav-item ">
            <a class="nav-link" >
              <i class="material-icons">logout</i>
              <p  routerLink="/login" >logout</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;"><img src="assets/menu/assets/img/hero/back.jpeg" alt="" height="70" width="70" style="overflow:hidden;
              -webkit-border-radius:50px;
              -moz-border-radius:50px;
              border-radius:50px;"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
             
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                
              </li>
        
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" >Profile</a>
                  <a class="dropdown-item" >Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/home">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid" >
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" >
              <div class="card card-stats" style="background: black;">
                <div class="card-header card-header-warning card-header-icon" style="background: black;">
                  <div class="card-icon" >
                    <i class="material-icons">money</i>
                  </div>
                  
                  <h6 style="color:  rgb(209, 148, 5);font-weight: bold;" class="card-title">Money 00.00$
                    
                  </h6>
                </div>
               
              </div>
            </div> 
            
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats" style="background: black;">
                <div class="card-header card-header-success card-header-icon" style="background: black;">
                  <div class="card-icon">
                    <i class="material-icons">library_books</i>
                  </div>
                  
                  <h6 style="color:  rgb(209, 148, 5);font-weight: bold;" class="card-title">Plan</h6>
                  
                  <div style="text-align: center; margin: 0px 0px 20px 0px;">

                        
                  
                </div>
               
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats" style="background: black;">
                <div class="card-header card-header-warning card-header-icon" style="background: black;">
                  <div class="card-icon">
                    <i class="material-icons">money</i>
                  </div>
                  
                  <h6 style="color:  rgb(209, 148, 5);font-weight: bold;" class="card-title">Withdraw 00.00$
                    
                  </h6>
                </div>
                
               
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats" style="background: black;">
                <div class="card-header card-header-success card-header-icon" style="background: black;">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  
                  <h6 style="color:  rgb(209, 148, 5);font-weight: bold;" class="card-title">My Members</h6>
                </div>
               
              </div>
            </div>
           
   
              <div class="col-md-4">
                <div class="card card-chart" style="background: black;">
                  <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                    <h6 style="color:  rgb(209, 148, 5);font-weight: bold;" class="card-title">Gold Progression</h6>
                      </div>
                 
                </div>
              </div>
        
   
 
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
             <li>Copyright by GoldOr 2020</li>
            </ul>
          </nav>
         
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
     
    </div>
  </div>

