<app-header></app-header>

<main >
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height ">
                
                <div class="container">
                    <div class="row " style="size: 200px;">
                        <div class="col-md-6 ">
                          
                            <div class="hero__caption">
                              <div class="container"  style="margin-top: 20%;">
                                  
                                  <div id="demo" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <div >
                                        <h2 style="color: rgb(240, 133, 133);font-size: 250%;font-weight:bold;text-align: center;">VOLATILITÉ</h2>
                                        <br>
                                        <h3 style="color: rgb(255, 255, 255); font-size: 100%;text-align: justify;">Grâce à sa volatilité l'or vous fait profité même dans les plus fins fonds de ses mouvements</h3>
                                        <br> <form class="hero-subscribe-from">
                                            <button class="btn" style="margin-right: 20px;text-align: center;" routerLink="/login">Start</button> 
                                           
                                        </form>
                                      </div>
                                      <div>
                                        <img src="assets/menu/assets/img/hero/looo.png" alt="" > 
                                        </div>
                                      </div>
                                      <div class="carousel-item">
                                           <h2 style="color:  rgb(240, 133, 133);font-size: 200%;font-weight:bold;">MATIÈRE PREMIERE</h2><br>
                                              <h3 style="color: rgb(245, 243, 239);font-size: 100%;text-align: justify;">L'Or fait partir des matières premières les plus importantes de la planete Terre</h3>
                                            <br>   <form class="hero-subscribe-from">
                                                  <button class="btn" style="margin-right: 20px;text-align: center;"  routerLink="/login">Start</button> 
                                                 
                                              </form>
                                              <div>
                                                <img src="assets/menu/assets/img/hero/looo.png" alt="" > 
                                                </div>
                                            </div>  
                                              <div class="carousel-item">
                                                  
                                                      <h2 style="color:  rgb(240, 133, 133);font-size: 250%;font-weight:bold;text-align: center;">GESTION</h2><br>
                                                      <h3 style="color: rgb(245, 243, 239);font-size: 100%;text-align: justify;">Nous négocions l'or dans tous ses entrailles afin de générer toutes sortes de gains </h3>
                                                    <br>   <form class="hero-subscribe-from">
                                                          <button class="btn" style="margin-right: 20px;text-align: center;" routerLink="/register">Start</button> 
                                                         
                                                      </form>
                                                      <div>
                                                        <img src="assets/menu/assets/img/hero/looo.png" alt="" > 
                                                        </div> 
                                                    </div> 
                                                        
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="assets/menu/assets/img/hero/hero_right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>      
            <!-- Single Slider -->
          
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="assets/menu/assets/img/hero/top-left-shape.png" alt="">
        </div>
    </div>
   <div>
    <img src="assets/menu/assets/img/hero/lo.png" alt="" data-animation="fadeInRight" data-delay="1s"> 
    </div>
    
    <!-- Slider Area End -->
    <!-- Domain-search start -->

<!-- Domain-search End -->
<!--? Team -->
<section class="team-area section-padding40 section-bg1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-105">
                    <h2 style="color:  rgb(209, 148, 5);text-align: center ;font-size: 250%;">Investissements</h2>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
              <div class="section-tittle text-center mb-90">
                  <h2 style="text-align: center;">Choose plan </h2>
                   </div>
          </div>
        </div>
     
    </div>
</section>
<!-- Services End -->
<!--? Pricing Card Start -->
<section class="pricing-card-area fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                    <div><img src="assets/menu/assets/img/logo/1.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div>    <br>
                       
                    
                      <div class="card-bottom">
                        <ul>
                            <li style="color:rgb(209, 148, 5) ;font-weight: bold;">50$
                            </li>
                            <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 50% au bout de 15 jours</li>
                            
                        </ul>
                            <a routerLink="/register"class="borders-btn"  style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div> <img src="assets/menu/assets/img/logo/2.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                     
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">150$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 70% au bout de 10 jours</li>
                                
                            </ul>
                            <a routerLink="/register" class="borders-btn"  style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div><img src="assets/menu/assets/img/logo/3.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                      
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">300$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 80% au bout de 7 jours</li>
                                
                            </ul>
                           
                            <a routerLink="/register" class="borders-btn"  style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                   <div> <img src="assets/menu/assets/img/logo/4.png" alt="" height="200" width="200" style="overflow:hidden;
                    -webkit-border-radius:50px;
                    -moz-border-radius:50px;
                    border-radius:50px;"></div> <br>
                   
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">650$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 100% au bout de 5 jours</li>
                                
                            </ul>
                            <a routerLink="/register" class="borders-btn" style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                    <div>  <img src="assets/menu/assets/img/logo/5.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                  
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">1500$
                                </li>
                                <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 120% au bout de 3 jours</li>
                                
                            </ul>
                            <a routerLink="/register" class="borders-btn" style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div><img src="assets/menu/assets/img/logo/6.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                      
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">4000$
                                </li>
                                <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 150% au bout de 24h à 72h</li>
                                
                            </ul>
                            <a routerLink="/register" class="borders-btn" style="text-align: center;">Get Started</a>
                        </div>
                    </div>
              </div>
            </div>
          
            
        </div>
    </div>
</section>
<!-- Pricing Card End -->
<!--? About-1 Area Start -->
<div class="about-area1 section-padding40">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="assets/menu/assets/img/logo/logo2.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                      <h2 style="color: rgb(209, 148, 5);">ABOUT-US</h2>
                    </div>
                    <p class="mb-40">Goldorpay est une structure internationale reconnue par l’union européenne est également plusieurs organisations africaines et asiatiques. Notre structure est basé sur les échanges du marché boursier. Grâce au trading vous assurant un meilleur avenir à la jeunesse de la prochaine génération. Nous tradons l’or dans le plus profond de ses entrailles à fin de bénéficier de ses innombrables service. Golda pays offre un service très qualifié. Notre structure est représenté par plusieurs traders international et ayant pas moins d’une décennie d’expérience.</p>
                 <h2 style="color: rgb(209, 148, 5);">Pourquoi investir dans l'Or? </h2>
                      <ul>
                        <li>
                            
                            <p> L'Or est la matière première la plus volatile et plus importante </p>
                        </li>
                        <li>
                            
                            <p>Grâce à sa volatilité  il vous fait profité même dans les plus fins fonds de ses mouvements </p>
                        </li>
                        <li>
                            
                            <p>Payement jusqu'à 300% en raison de 10% chaque 24H</p>
                        </li>
                        <li>
                            
                          <p> Notre siège se trouve en Russie et également en Chine.</p>
                      </li><li>
                            
                          <p> Nous opérons dans le monde la Crypto Monnaie grâce à nos experts traders et également à certains robots très sophistiqué.</p>
                      </li>
                      <li>
                            
                          <p> L’or a, de tous temps, été une valeur d’investissement populaires et appréciée par de nombreux traders. Mais comment s'enrichir avec de l’or en Bourse aujourd’hui ? C’est ce que nous vous proposons de découvrir au travers de ce site avec quelques arguments pour chacune des méthodes existantes. Vous découvrirez également ici quels sont les avantages et inconvénients de l’achat d’or en Bourse et des informations pour en réaliser des analyses pertinentes. L'or vous rendra riche grâce au forex</p>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-1 Area End -->
<!--? About-2 Area Start -->
<div class="about-area1 pb-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption about-caption3 mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2 style="color: rgb(209, 148, 5);">Dedicated support</h2>
                    </div>
                     <ul class="mb-30">
                        <li>
                      <p>Ce site permet à ses utilisateurs d’investir dans l’Or. Tous les investisseurs peuvent donc utiliser la plateforme, qu’ils soient qualifiés ou non. Chaque investissement comporte des frais qui varient selon qu’il s’agisse d’un prêt ou d’un achat d’actions.

                          Frais : Le site requiert un investissement minimum de 50 $.</p>
                        </li>
                        
                    </ul>
                    <a href="tel:+1 892-293 2678" class="btn"><i class="fas fa-phone-alt"></i>+1 892-293 2678</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="assets/menu/assets/img/logo/lo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-2 Area End -->
<!-- ask questions -->
<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90" id="faq">
                    <h2 style="color: rgb(209, 148, 5);">Frequently ask questions</h2>
                    
                  </div>
            </div>
        </div>
        <div class="row">
            <div id="" class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Comment investir ?</h2>
                        <p>Pour effectuer votre investissement c’est très simple et pratique. Crée un compte. Choisissez votre service et Choisissez ensuite le montant de votre investissement et effectuer le payement par les moyens possibles.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Comment être sûre de vos services ?
                          ?</h2>
                        <p>We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Quel sont les moyens possible pour effectuer un dépôt ?</h2>
                        <p>Nous présentons une expérience de 15 ans dans le marché financier et nous travaillons avec plusieurs trader internationaux ainsi que plusieurs banques.</p>
                    <p>Nous garantissons votre sécurité à 100%</p> 
                      </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Dans quel pays vos siège se trouvent ??</h2>
                        <p>Nos sièges sont respectivement en Russie en chine en Amérique du Sud et en Afrique du Sud
                      </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- End ask questions -->
<!--? Testimonial Area Start -->

<!--? Testimonial Area End -->
</main>
<app-footer></app-footer>
<!-- Scroll Up -->
<div id="back-top" >
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
