<app-header></app-header>


<div class="col-xl-8 col-lg-8">
   
        <h1 style="text-align: center;color:  rgb(209, 148, 5);margin-top: 7%;">Plan </h1>
       
</div> 
<!--? Pricing Card Start -->
<section class="pricing-card-area fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div  >
                  <div class="single-card text-center mb-30">
                    <div><img src="assets/menu/assets/img/logo/1.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div>    <br>
                       
                    
                      <div class="card-bottom">
                        <ul>
                            <li style="color:rgb(209, 148, 5) ;font-weight: bold;">50$
                            </li>
                            <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 50% au bout de 15 jours</li>
                            
                        </ul>
                            <a class="borders-btn"  style="text-align: center;">APPUYEZ SUR LE MODE PAYEMENT </a>
                        </div>
                       <br> <div></div>
                        <a routerLink="/app1/one"> <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div> <img src="assets/menu/assets/img/logo/2.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                     
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">150$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 70% au bout de 10 jours</li>
                                
                            </ul>
                            <a  class="borders-btn"  style="text-align: center;">APPUYEZ SUR LE MODE DE PAYEMENT</a>
                        </div>
                        <br> <div></div>
                        <a routerLink="/app1/two" > <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div><img src="assets/menu/assets/img/logo/3.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                      
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">300$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 80% au bout de 7 jours</li>
                                
                            </ul>
                           
                            <a  class="borders-btn"  style="text-align: center;">APPUYEZ SUR LE MODE DE PAYEMENT</a>
                        </div>
                        <br> <div></div>
                        <a routerLink="/app1/three" > <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                   <div> <img src="assets/menu/assets/img/logo/4.png" alt="" height="200" width="200" style="overflow:hidden;
                    -webkit-border-radius:50px;
                    -moz-border-radius:50px;
                    border-radius:50px;"></div> <br>
                   
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">650$
                                </li>
                                <li  style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 100% au bout de 5 jours</li>
                                
                            </ul>
                            <a  class="borders-btn" style="text-align: center;">APPUYEZ SUR LE MODE DE PAYEMENT</a>
                        </div>
                        <br> <div></div>
                        <a routerLink="/app1/four"> <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                    <div>  <img src="assets/menu/assets/img/logo/5.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                  
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">1500$
                                </li>
                                <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 120% au bout de 3 jours</li>
                                
                            </ul>
                            <a  class="borders-btn" style="text-align: center;">APPUYEZ SUR LE MODE DE PAYEMENT</a>
                        </div>
                        <br> <div></div>
                        <a routerLink="/app1/five" > <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                
                    </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              
              <div >
                  <div class="single-card text-center mb-30">
                      <div><img src="assets/menu/assets/img/logo/6.png" alt="" height="200" width="200" style="overflow:hidden;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border-radius:50px;"></div> <br>
                      
                        <div class="card-bottom">
                            <ul>
                                <li style="color:rgb(209, 148, 5) ;font-weight: bold;">4000$
                                </li>
                                <li style="text-align: justify;">Cet investissement vous rapporte un bénéfice de 150% au bout de 24h à 72h</li>
                                
                            </ul>
                            <a  class="borders-btn" style="text-align: center;">APPUYEZ SUR LE MODE DE PAYEMENT</a>
                        </div>  <br> <div></div>
                        <a routerLink="/app1/six" > <img src="assets/menu/assets/img/perf.jpeg" alt="" height="40" width="30"style="overflow:hidden;
                            -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></a>
                              
                              <div> <img src="assets/menu/assets/img/payeer.png" alt="" height="40" width="30"style="overflow:hidden;
                                -webkit-border-radius:50px;
                                -moz-border-radius:50px;
                                border-radius:50px; float:left ;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                 <div> <img src="assets/menu/assets/img/bit.png" alt="" height="40" width="30"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                  <div> <img src="assets/menu/assets/img/etherum.jpeg" alt="" height="40" width="40"style="overflow:hidden;
                                    -webkit-border-radius:50px;
                                    -moz-border-radius:50px;
                                    border-radius:50px; float:left;   width:80px ; margin-left: auto;	margin-right: auto;"></div>
                                  
                                 
                    </div>

                    
              </div>
            </div>
          
            
        </div>
    </div>
</section>

<app-footer></app-footer>